body{
    display: flex;
    align-items: center;
    justify-content: center;
}


#heart{
    height: 100px;
    width: 100px;
    position: absolute;
    animation: mymove 0.6s infinite;
}
@keyframes mymove{
    0%{
        transform: scale(1.06);
    }
    80%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(0.7);
    }
}